<button [type]="isSubmitButton ? 'submit' : 'button'" [class]="{
    btn_primary: type === 'fill',
    btn_outline_primary: type === 'outline',
    btn_text_only: type === 'text',
  }" [style]="{
    width: width(),
    height: height(),
    color,
    borderColor,
    backgroundColor,
  }" [disabled]="isSubmitting || disabled" #button (click)="onClick($event)">
  <c-spinner *ngIf="isSubmitting; else elseBlock" [color]="spinnerColor || 'var(--color-text-white)'" />
  <ng-template #elseBlock>
    <ng-content></ng-content>
  </ng-template>
</button>
