/**
 * mixin
 */
@mixin mobile {
  @media screen and (width <= 428px) {  // iPhone 12 Pro Max
    @content;
  }
}
@mixin tablet {
  @media screen and (width <= 1024px) {
    @content;
  }
}

/**
 * common
 */
:root {
  --color-text: #e4e4e4;
  --color-gray: #474747;
  --color-text-white: #f2f2f2;
  --color-text-white-hover: #e3e3e3;
  --color-background: #141422;
  --color-primary: #49497b;
  --color-link: #9191ff;
  --color-input-focus-border: #686889;
  --color-input-focus-shadow: 0 0 0 0.19rem rgba(#686889, 0.37);
  --width-max-base: 1500px;
  --width-scrollbar: 16px;
  --width-max-screen: calc(var(--width-max-base) - var(--width-scrollbar));
  --font-family: "Custom Noto Sans", "Open Sans", helvetica, "Lucida Sans Unicode", "Lucida Grande", arial, verdana, sans-serif;
  --box-shadow: 1px 3px 5px rgba(#19191c, 0.666);
  --focus-visible-outline: solid 2px #539bf5;
}
* {
  box-sizing: border-box;
  overflow-wrap: break-word;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include mobile {
    font-size: 16px;
  }
}
p {
  margin-top: 0;
  margin-bottom: 1.3em;
  line-height: 1.5;
}
p a,
span a,
li a,
table a {
  color: var(--color-link);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.document {
  h2, h3, h4, h5, h6 {
    margin-top: 1.65em;
    margin-bottom: 0.91em;
  }
  h2 {
    font-size: 1.53em;
  }
  h3 {
    font-size: 1.23em;
  }
  h4 {
    font-size: 1.1em;
  }
  h5 {
    font-size: 1.09em;
  }
  h6 {
    font-size: 1.05em;
  }
  ul {
    margin: 1.3em auto;
    padding-left: 2.3em;
    li {
      list-style: disc;
      margin: 0.3em auto;
    }
  }
}
img {
  vertical-align: middle;
}
*:focus-visible {
  outline: var(--focus-visible-outline);
}
button {
  cursor: pointer;
  &.reset {
    margin: 0;
    padding: 0;
    color: unset;
    font: unset;
    border: none;
    background: none;
    appearance: none;
  }
  &:has(fa-icon) {
    position: absolute;
  }
}
fa-icon {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display_none {
  display: none;
}
@include mobile {
  .display_none_mobile {
    display: none;
  }
}
::-webkit-scrollbar {
  width: var(--width-scrollbar);
}
::-webkit-scrollbar-thumb {
  border: 3.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #58575e;
}

/**
 * form
 */
input,
textarea {
  display: block;
  width: 100%;
  padding: 0.375em 0.75em;
  color: #5b5b5b;
  font-size: 1em;
  font-weight: normal;
  font-family: inherit;
  line-height: 1.5;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1.1px solid #e2dcd3;
  border-radius: 5px;
  appearance: none;
  transition: all 0.17s ease-out;
  &:focus {
    border-color: var(--color-input-focus-border);
    box-shadow: var(--color-input-focus-shadow);
  }
  &:disabled, &[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }
  &::placeholder {
    color: #cccccc;
    font-family: inherit;
  }
}
textarea {
  resize: none;
}
label {
  display: inline-block;
  .checkbox[disabled] ~ & {
    opacity: 0.5;
  }
}
.radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.1em 0;
  border-radius: 50%;
  &:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
  }
}

/**
 * fonts
 */
@font-face {
  font-family: "Custom Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("NotoSansCJKjp-Regular.otf"),
    local("NotoSansJP-Regular.otf"),
    url("../assets/font/Noto_Sans_JP/NotoSansJP-Regular.woff2") format("woff2");
  // unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Custom Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("NotoSansCJKjp-Bold.otf"),
    local("NotoSansJP-Bold.otf"),
    url("../assets/font/Noto_Sans_JP/NotoSansJP-Bold.woff2") format("woff2");
  // unicode-range: U+000-5FF;
}
