/* .xxx  { Custom class applied here by `panelClass` */
.cdk-dialog-container {
  .modal_body {
    margin: auto;
    position: relative;
    width: 555px;
    padding: 0.9em 1.3em 0.5em;
    color: var(--color-text);
    background-color: #303035;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
    button {
      top: 1.9em;
      right: 2.3em;
      bottom: auto;
    }
    .title {
      margin-bottom: 1em;
      font-size: 1.05em;
      font-weight: bold;
    }
    .content {
      margin: 0.3em auto 0.9em;
      font-size: 0.93em;
      &.simple {}
      &.confirm {}
      &.action {
        display: flex;
        flex-direction: column;
        gap: 17px;
      }
    }
    .buttons {
      padding-top: 5px;
      text-align: right;
      font-size: 0.9em;
      border-top: 1px solid #515254;
      button {
        margin: 0.3em 0em 0.3em 0.7em;
        padding: 0.39em 1.5em 0.4em;
      }
    }
  }
  &:focus-visible {
    outline: none;
  }
}
