.cdk-overlay-container {
  position: fixed;
  inset: 0;
  z-index: 13;
  .cdk-overlay-backdrop {
    position: absolute;
    inset: 0;
    background-color: #00000080;
    cursor: default;
    pointer-events: auto;
  }
  .cdk-global-overlay-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    pointer-events: none;
    .cdk-overlay-pane {
      width: 95%;
      max-width: 555px;
      .modal_body {
        margin: auto;
        position: relative;
        width: 100%;
        padding: 1.5em 1.9em 1.9em;
        color: var(--color-text);
        background-color: #eef4f6;
        box-shadow: 1px 3px 5px rgba(#636363, 0.666);
        border-radius: 7px;
        svg {
          top: 10px;
          right: 19px;
          bottom: auto;
          cursor: pointer;
        }
      }
    }
  }
}
