<div class="modal_body half_modal" [@show]="leaving ? 'hidden' : 'shown'" (@show.done)="animationDone($event)">
  <button class="reset" (click)="close()">
    <fa-icon icon="times" size="xl"></fa-icon>
  </button>
  <ng-container #container></ng-container>
</div>

<ng-template #simple_t let-item="context">
  <div class="title" role="heading">
    {{ item.title }}
  </div>
  <div class="content simple" [innerHTML]="item.content">
  </div>
  <div class="buttons">
    <c-base-button [type]="'text'" (click)="close()">Dismiss</c-base-button>
  </div>
</ng-template>

<!-- これは通常モーダルへ移行させる -->
<ng-template #confirm_t let-item="context">
  <div class="content confiem">
    {{ item.content }}
  </div>
  <div class="buttons">
    <c-base-button [type]="'text'" (click)="close()">Dismiss</c-base-button>
    <c-base-button [type]="'fill'" (click)="confirm.emit()">{{ item.btnText }}</c-base-button>
  </div>
</ng-template>
