<div #modal class="modal_body half_modal" [style.height]="halfModalHeight" [@show]="leaving ? 'hidden' : 'shown'"
  (@show.done)="animationDone($event)">
  <button class="reset" (click)="close()">
    <fa-icon icon="times" size="xl"></fa-icon>
  </button>
  <ng-container #container></ng-container>
</div>

<ng-template #simple_t let-item="context">
  <div *ngIf="item.title" class="title" role="heading">
    {{ item.title }}
  </div>
  <div class="content simple" [innerHTML]="item.content">
  </div>
  <div class="buttons">
    <c-base-button type="text" (click)="close()">Dismiss</c-base-button>
  </div>
</ng-template>
