.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.7em;
  padding: 0 1em;
  img {
    width: 160px;
  }
  .text {
    max-width: 23em;
    margin: 0.95em auto 1.5em 0.9em;
    color: #595959;
    font-size: 0.9em;
    font-weight: bold;
  }
}
