.group {
  padding: 0.7em 0;
  border: solid 0.79px var(--color-gray);
  border-left: none;
  border-right: none;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-bottom: none;
  }
  .item {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
    margin: 0.5em auto;
    div {
      padding: 0 1.3em 0.05em 0;
      font-size: 0.8em;
      text-align: right;
    }
  }
}
