main {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  height: calc(100svh - 100px - 75px);
  padding: 0 1.3em;
  > div {
    border-radius: 9px;
    background-color: #0b0b13;
  }
  .viewer {
    position: relative;
    flex: 3;
    &.exists_viewer {
      max-width: calc(100% - 1em - 300px);
    }
    .getting_started {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
      width: 100%;
      height: 100%;
      > *:not(.or) {
        min-width: 424px;
      }
      .or {
        position: relative;
        width: 2em;
        color: #595959;
        font-weight: bold;
        user-select: none;
        span {
          position: absolute;
          inset: 0;
          display: inline-table;
          margin: auto;
          padding: 0.5em 0 0.6em;
          text-align: center;
          background-color: #0b0b13;
          z-index: 2;
        }
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          width: 0.5px;
          height: 300px;
          margin: auto;
          background-color: #595959;
          z-index: 1;
        }
      }
    }
    button {
      position: absolute;
      top: 0.5em;
      right: 0.9em;
      width: 27px;
      height: 27px;
      background-color: #34353d;
      border-radius: 50%;
      opacity: 0.7;
      transition: all 0.19s ease;
      z-index: 3;
      &:hover {
        opacity: 1;
      }
    }
  }
  .side {
    flex: 1;
    padding: 0.1em 0;
    max-width: 300px;
  }
}
