header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100px;
  max-width: var(--width-max-screen);
  margin: auto;
  padding: 23px 29px;
  .site_logo {
    margin-right: 1.3em;
    a {
      display: block;
      color: var(--color-text-white);
      img {
        width: 47px;
        height: 47px;
        aspect-ratio: 1/1;
        margin-bottom: 0.31em;
      }
      .site_title {
        display: inline-block;
        margin-left: 1.1em;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
}
