<div class="modal_body base_modal" [@show]="leaving ? 'hidden' : 'shown'" (@show.done)="animationDone($event)">
  <ng-container #container></ng-container>
</div>

<ng-template #confirm_t let-item="context">
  <div class="content confirm" [innerHTML]="item.content">
  </div>
  <div *ngIf="item.askAgain" class="ask_again">
    <c-checkbox [isChecked]="!isAskAgain" (changed)="askAgainService.update(item.askAgain.stateKey, $event)">
      {{ isString(item.askAgain) ? item.askAgain.text : "Don't ask me again" }}
    </c-checkbox>
  </div>
  <div class="buttons">
    <c-base-button type="text" (click)="close()">Cancel</c-base-button>
    <c-base-button type="fill" (click)="close('OK')">{{ item.btnText }}</c-base-button>
  </div>
</ng-template>

<ng-template #action_t let-item="context">
  <div *ngIf="item.title" class="title" role="heading">
    {{ item.title }}
  </div>
  <div *ngIf="isString(item.content)" class="content action" [innerHTML]="item.content">
  </div>
  <div *ngIf="!isString(item.content)" class="content action">
    <ng-container #action_container></ng-container>
  </div>
  <div class="buttons">
    <c-base-button type="text" (click)="close()">Cancel</c-base-button>
    <c-base-button type="fill" (click)="close('OK')">{{ item.btnText }}</c-base-button>
  </div>
</ng-template>
