.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.7em;
  padding: 0 1em;
  img {
    width: 160px;
    aspect-ratio: 1.2/1;
  }
  .text {
    display: flex;
    align-items: center;
    max-width: 23em;
    height: 2.8em;
    margin: 0.95em auto 1.5em;
    color: #595959;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.4;
  }
}
textarea {
  width: 100%;
  height: 13em;
  color: var(--color-text-white);
  background-color: transparent;
}
